.head__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    height: 30vh;
    padding: 0 1.5rem;
    width: 100%;
}

.profile, .head__content, .pfl__title,
.pfl__subtitle {
    color: white;
}

.profile {
    align-items: center;
    color: white;
    display: flex;
    height: 4rem;
    justify-content: space-between;
    margin-top: 2rem;
}

.image__container {
    border-radius: 200px;
    box-shadow: 0px 0px 1px 2px white ;
    height: 42px;
    width: 42px;
}

.profile__Image {
    border-radius: 100px;
}

.head__content {
    align-items: center;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.pfl__title {
    font-size: 32px;
    font-weight: 400;
}
.pfl__subtitle {
    align-self: flex-start;
    font-size: 16px;
    font-weight: 300;
    opacity: 0.8;
}