.body__App {
    align-items: center;
    background-color: #ffffff;
    border-radius: 1.5rem 1.5rem 0 0;
    display: flex;
    flex-direction: column;
    height: 70vh;
    justify-content: flex-start;
    padding-top: 2rem;
    width: 100%;
}

.body__title {
    font-size: 16px;
    font-weight: 500 ;
    margin-bottom: 2rem;
    text-align: center;
}

.body__button {
    align-items: center;
    background-color: #0E00FF;
    border-radius: 2rem;
    color: #FFFFFF;
    display: flex;
    font-weight: 500;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    transition: 0.2s;
    width: 150px;
}

.body__button:hover {
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s;
}